header {
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    min-height: 13vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid rgb(66, 21, 21);
}

.logo {
    height: 12vh;
    margin-left: 20px;
}

.logo_text {
    height: 8vh;
    margin-top: 20px;
    margin-left: -10%;
}

nav {
    margin-top: 30px;
    margin-right: 15px;
}

nav button {
    background-color: rgb(66, 21, 21);
    color: #fff;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

nav button:hover {
    opacity: 0.8;
}

body {
    padding: 20px;
    background-image: url(images/background2.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

/* style formulaire */ 
.div_form {
    width: 360px;
    padding: 6% 0 0;
}

form {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    top: 190px;
    margin: auto;
    background: #ffffff;
    max-width: 300px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(56, 17, 17);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

form button:hover,
form button:active,
form button:focus {
    background: rgb(34, 10, 10);
}